/* Confirmed Predictions Styles */
.confirmed-predictions-container {
  padding: 20px;
  background-color: #4b96c5f0;
  border: 4px solid rgb(5, 36, 86);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 20px auto;
}

.confirmed-predictions-container h4 {
  margin-bottom: 20px;
  text-align: start;
  color: #f1c40e;
}

.confirmed-predictions-grid {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.confirmed-predictions-grid .confirmed-grid-header {
  background-color: #2e3452;
  color: #f1c40e;
}

.confirmed-predictions-grid .confirmed-grid-header,
.confirmed-predictions-grid .confirmed-grid-item {
  padding: 5px;
  border-bottom: 4px solid #2e3452;
  text-align: center;
}

.confirmed-grid-header {
  font-weight: bold;
  background-color: #1660cf70;
  border-radius: 10px;
}
