.final-predictions-container {
  padding: 20px;
  color: aliceblue;
  text-shadow: 2px 2px rgb(29, 23, 22);
}

.game-predictions h3 {
  display: flex;
  justify-content: space-between; /* Evenly space children */
  align-items: center;
  min-width: 350px; /* Adjust the width as needed */
  max-width: 350px;
  padding: 10px;
  border-radius: 8px; /* Optional: Add rounded corners */
}

.game-predictions {
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.flag-icon {
  box-shadow: 1px 1px rgb(38, 36, 36);
  width: 40px;
  height: 30px;
  margin: 0 10px;
}

.predictions-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.predictions-grid .grid-header,
.predictions-grid .grid-item {
  border-bottom: 4px solid #2e3452;
  text-align: center;
}

.grid-header {
  font-weight: bold;
  background-color: #2e3452;
  color: #f1c40e;
  border-radius: 10px;
}

.grid-item {
  padding: 5px;
  color: aliceblue;
  text-shadow: 2px 2px rgb(29, 23, 22);
}

@media (max-width: 500px) {
  .predictions-grid {
    grid-template-columns: repeat(
      5,
      1fr
    ); /* Adjust the grid to have 5 columns instead of 6 */
  }

  .grid-header:nth-child(2),
  .grid-item:nth-child(6n + 2) {
    display: none; /* Hide the date header and all date items */
  }

  .final-predictions-container {
    display: none; /* Hide the container in portrait mode */
  }

  .orientation-prompt {
    display: block;
    text-align: center;
    color: #f1c40e;
    margin: 20px;
    font-size: 18px;
  }
}

@media (min-width: 501px) {
  .orientation-prompt {
    display: none;
  }

  .final-predictions-container {
    display: block; /* Show the container in landscape mode */
  }
}
