.final-predictions-container {
  padding: 20px;
  color: aliceblue;
  text-shadow: 2px 2px rgb(29, 23, 22);
}
.text-CP {
  width: 100%; /* Use full width */
  max-width: 700px; /* Optional: Set a max-width */
  padding: 10px;
  margin: 10px auto;
}
.group-predictions {
  display: flex;
  justify-content: space-between; /* Evenly space children */
  align-items: center;
  width: 100%; /* Use full width */
  max-width: 700px; /* Optional: Set a max-width */
  padding: 10px;
  margin: 10px auto; /* Center align and add some margin */
  background-color: #061d39; /* Optional: Add a background color */
  border-radius: 8px; /* Optional: Add rounded corners */
  cursor: pointer; /* Change cursor to pointer to indicate clickability */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.group-fixtures {
  display: flex;
  justify-content: space-between; /* Evenly space children */
  align-items: center;
  width: 100%;
  border: 2px, cornflowerblue;
}
.game-predictions h3 {
  display: flex;
  justify-content: space-between; /* Evenly space children */
  align-items: center;
  width: 100%; /* Use full width */
  max-width: 700px; /* Optional: Set a max-width */
  padding: 10px;
  margin: 10px auto; /* Center align and add some margin */
  background-color: #061d39; /* Optional: Add a background color */
  border-radius: 8px; /* Optional: Add rounded corners */
  cursor: pointer; /* Change cursor to pointer to indicate clickability */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}
.flag-icon {
  width: 30px; /* Adjust size of flag icons */
  height: auto; /* Maintain aspect ratio */
}

.game-predictions {
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.predictions-grid {
  display: grid;
  width: 100%; /* Use full width */
  max-width: 700px; /* Optional: Set a max-width */
  padding: 10px;
  margin: 10px auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.predictions-grid .grid-header,
.predictions-grid .grid-item {
  border-bottom: 4px solid #081839;
  text-align: center;
}

.grid-header {
  font-weight: bold;
  background-color: #091c45;
  color: #f1c40e;
  border-radius: 10px;
}

.grid-item {
  padding: 5px;
  color: aliceblue;
  text-shadow: 2px 2px rgb(29, 23, 22);
}

@media (max-width: 500px) {
  .predictions-grid {
    grid-template-columns: repeat(
      5,
      1fr
    ); /* Adjust the grid to have 5 columns instead of 6 */
  }

  .grid-header:nth-child(2),
  .grid-item:nth-child(6n + 2) {
    display: none; /* Hide the date header and all date items */
  }

  .final-predictions-container {
    display: none; /* Hide the container in portrait mode */
  }

  .orientation-prompt {
    display: block;
    text-align: center;
    color: #f1c40e;
    margin: 20px;
    font-size: 18px;
  }
}

@media (min-width: 501px) {
  .orientation-prompt {
    display: none;
  }

  .final-predictions-container {
    display: block; /* Show the container in landscape mode */
  }
}
