.group-details-container {
  padding: 20px;
}

.game-item {
  border: 4px solid #0b2563;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #81aabd;
  max-width: 900px;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.game-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin-top: 10px;
}

.game-date {
  width: 100px;
  text-align: left;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-name {
  margin: 0 10px;
  font-weight: bold;
}

.versus {
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
  flex: 0 0 40px;
  text-align: center;
}

.score-select {
  width: 60px;
  text-align: center;
  margin: 0 10px;
}

.confirm-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #456a91;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

.confirm-button:disabled {
  background-color: #ccc;
}

.checkbox-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 160px;
  margin: 10px 75px 0px;
  padding: 5px 0px 5px 10px;
  border: 4px solid #456a91;
  border-radius: 10px;
}

.checkbox-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  margin-top: 5px;
}

.checkbox-container input {
  margin-left: 10px;
}

.confirm-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 0px 45px 0px;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #556a80;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
}

.back-button:hover {
  background-color: #555454;
}

.flag-icon {
  width: 20px;
  height: auto;
  margin: 0 5px;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(193, 129, 26);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: black;
  border: 3px solid black;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button.confirm:hover {
  background-color: #456a91;
}

.modal-button.cancel:hover {
  background-color: #456a91;
}

.modal-button.confirm {
  background-color: #ffffff00;
  color: rgb(0, 0, 0);
  border: 3px solid black;
}

.modal-button.cancel {
  background-color: #ffffff00;
  color: rgb(0, 0, 0);
  border: 3px solid black;
}
