.group-details-container {
  padding: 20px;
}

.game-item {
  border: 4px solid #0b2563;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #81aabd;
  max-width: 900px;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.game-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.game-date {
  width: 100px;
  text-align: center;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-name {
  margin: 0 10px;
  font-weight: bold;
}

.versus {
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
  flex: 0 0 40px;
  text-align: center;
}

.score-select {
  width: 60px;
  text-align: center;
  margin: 0 10px;
}

.confirm-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #456a91;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

.confirm-button:disabled {
  background-color: #ccc;
}

.checkbox-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.confirm-button {
  align-self: flex-end;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #556a80;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
}

.back-button:hover {
  background-color: #555454;
}

.flag-icon {
  width: 20px;
  height: auto;
  margin: 0 5px;
}
