/* Home.css */

/* General Container Styling */
.home-container {
  display: grid;
  grid-template-columns: 400px 1fr; /* Two columns */
  gap: 20px;
  height: calc(87vh); /* Adjust for navbar and footer height */
  padding: 20px;
  padding-top: 0%;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
}

.user-details,
.social-feed {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(100, 36, 36, 0.1);
  margin-bottom: 2px;
}

.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 4px solid rgb(69, 66, 164);
  margin-top: 3px;
  background-color: rgb(125, 194, 237);
}

.profile-pic-home img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin: 20px;
  object-fit: cover;
  border: 4px solid rgb(69, 66, 164);
}

.user-info {
  flex: 1;
  margin: 0px 20px 0px 20px;
}

.user-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border-bottom: 4px solid grey;
}

.user-info-item .label {
  font-weight: bold;
}

.user-info-item .value {
  margin-left: auto; /* Push the value element to the end */
  text-align: right;
  flex-grow: 1; /* Ensure it takes remaining space */
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 10px;
}

.social-feed {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden; /* Ensure the chat doesn't expand off the screen */
  background-color: rgb(125, 194, 237);
  border: 4px solid rgb(69, 66, 164);
}

.feed-items {
  flex-grow: 1; /* Ensure feed items take up remaining space */
  overflow-y: auto;
  height: 400px; /* Set a fixed height to make it scrollable */
}

.feed-item {
  display: flex;
  align-items: center;
  background: rgb(193, 171, 141);
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: black;
}

.message-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  margin-right: 10px;
  object-fit: cover;
}

.extra-content {
  grid-column: span 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: calc(87vh - 20px); /* Adjust height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Adjusting the h2 margin */
.social-feed h4 {
  margin: 0; /* Reduce margin around the h2 element */
}

/* Adjusting the text field height */
.message-input textarea {
  height: 40px; /* Reduce the height of the text field */
  resize: none; /* Disable resizing */
}
.message-input-container {
  padding: 0; /* Remove padding from message input container */
}
/* Responsive Styling */
@media (max-width: 600px) {
  .home-container {
    grid-template-columns: 1fr; /* Single column on mobile */
    height: auto; /* Allow scrolling on mobile */
  }

  .user-details,
  .social-feed,
  .extra-content {
    margin-bottom: 20px;
  }

  .feed-items {
    height: 300px; /* Adjust height for mobile */
  }
}
