.leaderboard-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaderboard-page h4 {
  margin: 0;
  color: #f1c40e;
}
.leaderboard-container {
  min-width: 500px;
  max-width: 1000px;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 12px;
  border: 1px solid #17044c;
}

.leaderboard-table th {
  background-color: #78a6ea;
  font-weight: bold;
}

.leaderboard-table th.position,
.leaderboard-table th.score,
.leaderboard-table td.position,
.leaderboard-table td.score {
  width: 50px; /* Adjust this value as needed */
  text-align: center; /* Center horizontally */
  vertical-align: middle; /* Center vertically */
}

.leaderboard-table th.name,
.leaderboard-table td.name {
  width: auto; /* Let the name column take the remaining space */
  position: relative; /* For absolute positioning of icons */
}

.leaderboard-table tr:nth-child(even) {
  background-color: #8caabcbc;
}

.leaderboard-table tr:nth-child(odd) {
  background-color: #658da4c9;
}

.leaderboard-table tr:hover {
  background-color: #b0b0b0;
}

.leadbrd-btn {
  color: rgba(3, 140, 209, 0.887);
}

.leadbrd-btn:hover {
  background-color: #17044c;
}
.movement-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px; /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
}

.profile-pic {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 10%;
  margin-right: 10px; /* Space between profile pic and name */
  vertical-align: middle;
  object-fit: cover;
  border: 2px solid rgb(41, 67, 111);
}
