.leaderboard-page {
  padding: 20px;
}
.leaderboard-page h4 {
  margin: 0; /* Remove margin from the h2 element */
}
.leaderboard-container {
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.leaderboard-table th {
  background-color: #f0f2f5;
  font-weight: bold;
}

.leaderboard-table th.position,
.leaderboard-table th.score,
.leaderboard-table td.position,
.leaderboard-table td.score {
  width: 50px; /* Adjust this value as needed */
  text-align: center; /* Center horizontally */
  vertical-align: middle; /* Center vertically */
}

.leaderboard-table th.name,
.leaderboard-table td.name {
  width: auto; /* Let the name column take the remaining space */
  position: relative; /* For absolute positioning of icons */
}

.leaderboard-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.leaderboard-table tr:hover {
  background-color: #f1f1f1;
}

.movement-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px; /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
}

.profile-pic {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  border-radius: 10%;
  margin-right: 10px; /* Space between profile pic and name */
  vertical-align: middle;
}
