.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f0f2f500;
}

.login-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 300px;
  background-color: rgb(20, 50, 75);
  border: 5px solid rgb(32, 79, 123);
  border-radius: 10px;
  color: rgb(218, 157, 4);
  padding-bottom: 20px;
}

.login-form h4 {
  margin-bottom: 1rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: flex;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 259px;
  padding: 0.5rem;
  border: 3px solid rgb(32, 79, 123);
  border-radius: 4px;
  font-size: 16px;
}

.login-btn {
  width: 100px;
  background-color: rgb(193, 171, 141);
  border: 4px solid rgb(32, 79, 123);
  border-radius: 10px;
  color: rgb(29, 15, 3);
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.login-btn:hover {
  background-color: rgb(108, 108, 120);
}
