.message-function-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.feed-items {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 45vh; /* Adjust height as needed */
  padding-bottom: 10px; /* Space for the input */
  display: flex;
  flex-direction: column;
}

.feed-item {
  display: flex;
  flex-direction: row; /* Set to row to have columns */
  align-items: center; /* Align items vertically in the center */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.message-header {
  display: flex;
  flex-direction: column; /* Column layout for profile image and username */
  align-items: flex-start; /* Align items to the start (left) */
  margin-right: 10px; /* Space between columns */
}

.message-profile-pic {
  align-self: center; /* Center the profile picture */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 5px; /* Space between username and profile picture */
}

.username {
  font-size: 12px;
  color: rgb(10, 10, 10);
}

.message-content {
  flex-grow: 1; /* Take the remaining space */
  font-size: 14px; /* Adjust font size as needed */
}
