.message-input-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input-container textarea {
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  resize: vertical; /* Allow vertical resizing if needed */
  background-color: rgb(185, 119, 27);
  color: rgb(189, 184, 116);
}

.message-input-container textarea::placeholder {
  color: #fafafa; /* Adjust this color to your preference */
}

.message-input-container button {
  padding: 10px;
  background-color: #0a4e97;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message-input-container button:hover {
  background-color: #073e78;
}
