.message-input-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.message-input h4 {
  margin: 0px;
}

.message-input-container textarea {
  width: 100%;
  height: 70px;
  padding: 10px;
  border: 4px solid #393939;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  resize: vertical; /* Allow vertical resizing if needed */
  background-color: rgb(185, 119, 27);
  color: rgb(41, 40, 31);
  font-size: 16px;
}

.message-input-container textarea::placeholder {
  color: #fafafa; /* Adjust this color to your preference */
}

.message-input-container button {
  padding: 10px;
  background-color: #0b253f;
  color: rgb(249, 200, 55);
  border: 4px solid rgb(51, 90, 133);
  border-radius: 7px;
  cursor: pointer;
}

.message-input-container button:hover {
  background-color: #073e78;
}
