.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(198, 143, 32);
  color: #4f2e12;
  height: 100px;
  padding: 0 20px;
  box-sizing: border-box;
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navbar-logo img {
  height: 150px; /* Adjust the size as needed */
  margin-right: 10px; /* Space between logo and text */
  padding-top: 15px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 10px;
}

.navbar-menu a:hover {
  color: rgb(247, 226, 67);
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100px; /* Adjust to match the height of your navbar */
    right: 0;
    background-color: rgb(5, 20, 62);
    border-radius: 10px;
    padding: 10px;
  }

  .navbar-menu.active {
    display: flex;
  }

  .burger-menu {
    display: flex;
    position: absolute;
    top: 35px; /* Adjust to place at the top right corner */
    right: 20px;
  }
}

/* Landscape mode adjustments */
@media (orientation: landscape) {
  .navbar {
    height: 50px; /* Reduce the height to 50% */
  }

  .navbar-logo img {
    height: 75px; /* Adjust the logo size proportionally */
    padding-top: 5px;
  }

  .burger-menu {
    top: 15px; /* Adjust position to match reduced navbar height */
  }

  .navbar-menu {
    top: 50px; /* Adjust position to match reduced navbar height */
  }
}
