.predictions-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.predictions-container h3 {
  padding: -25px;
  margin: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fdfdfd;
  text-shadow: 2px 2px black;
}

.predictions-container h2 {
  padding: 5px;
  color: #f2cd27;
}

.groups-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-width: auto;
}

.group-item {
  background: #f0f0f0a8;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 450px;
  border: 3px solid rgb(52, 52, 94);
}

.group-item a {
  text-decoration: none;
  color: #000000;
  display: block;
}

.group-item a:hover {
  background: #e0e0e0;
}

.group-table {
  width: 100%;
  border-collapse: collapse;
}

.group-table th {
  background: #546f8dd7;
  color: white;
  padding: 10px;
  text-shadow: 2px 2px black;
}

.group-table td {
  padding: 10px;
  padding-left: 20px;
  text-align: right; /* Right-align all text by default */
}

.group-table .team-cell {
  text-align: left; /* Override for team names */
}

.group-table .points-cell {
  text-align: center;
}

.group-table tbody tr:nth-child(odd) {
  background: #afadad0f;
}

.group-table tbody tr:nth-child(even) {
  background: #f5f5f551;
}

.flag-icon {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.round-of-16-link {
  text-align: center;
  margin-top: 20px;
}

.round-cell {
  display: flex;
  align-items: flex-start;
}
.round-cell img {
  width: 40px;
}

@media (max-width: 470px) {
  .predictions-container {
    padding: 10px;
  }

  .groups-list {
    gap: 10px;
  }

  .group-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .group-table th,
  .group-table td {
    padding: 5px;
  }

  .group-table td {
    padding-left: 10px;
  }

  .flag-icon {
    width: 15px;
    margin-right: 3px;
  }
}

@media (max-width: 420px) {
  .predictions-container {
    padding: 5px;
  }

  .groups-list {
    gap: 5px;
  }

  .group-item {
    width: 100%;
    margin-bottom: 15px;
  }

  .group-table th,
  .group-table td {
    padding: 3px;
  }

  .group-table td {
    padding-left: 5px;
  }

  .flag-icon {
    width: 12px;
    margin-right: 2px;
  }

  .round-of-16-link {
    margin-top: 10px;
  }
}
