.real-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 4px solid #000000;
  border-radius: 5px;
  background-color: #d2d2d2;
}

.result-inputs {
  display: flex;
  align-items: center;
}

.result-inputs span {
  margin: 0 5px;
}

.result-inputs input {
  width: 50px;
  padding: 5px;
  margin: 0 5px;
  text-align: center;
}

.result-outcome {
  margin-top: 10px;
  font-weight: bold;
}

.save-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #a10404;
  color: white;
  text-shadow: 2px 2px black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #45a049;
}
