@font-face {
  font-family: "Humanist521 BT";
  src: url("/fonts/Humanist521BT-Bold.woff2") format("woff2"),
    url("/fonts/Humanist521BT-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* General Styles */
body {
  margin: 0;
  font-family: "Humanist521 BT", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: #535456;
  color: #020202;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ensure the root takes up the remaining space */
}

/* Container */
.container {
  background: rgb(153, 153, 153);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure the container takes full width */
  box-sizing: border-box;
  flex-grow: 1; /* Ensures the container takes up remaining space */
  background-image: url("/default.jpg"); /* Update the path to your image */
  background-size: cover; /* This will make sure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  padding: 20px; /* Add padding for spacing */
}

/* Navbar and Footer Styles */
.navbar {
  background-color: #01162d;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%; /* Ensures navbar and footer span the entire width */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: rgb(234, 185, 80);
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Content Styles */
.content {
  flex-grow: 1;
}

/* Media Queries */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 1rem;
    box-shadow: none;
    border-radius: 0;
  }
}
